<template>
  <div id="app">
    <h1>{{ message }}</h1>
    <button @click="message_update()">メッセージ更新</button>
    <div>
      <button @click="getTodos()">Todo取得</button>
      <div v-if="loading">
        ロード中
      </div>
      <div v-for="todo in todos" key="todo.id">
        ID: {{ todo.id }} title: {{ todo.title }} completed: {{ todo.completed }}
      </div>
    </div>

    <br>

    <input v-model="todo_input">
    <button @click="clicked">Todo add</button>
    <ul>
      <todo_item v-for="item in todos" key="item.id" :todo_item="item"></todo_item>
    </ul>
  </div>
</template>

<script>
import todo_item from './todo_item.vue'
import axios from 'axios'
import { mapState, mapMutations, mapActions } from 'vuex';
import { MESSAGE_UPDATE } from './store/mutation-types';

export default {
  created () {
    this.getTodos()
  },
  data () {
    return {
      // message: 'Todo App',
      todo_input: ""
    }
  },
  computed: {
    ...mapState({
      message: 'message',
      todos: 'todos',
      loading: 'loading'
    })
  },
  methods: {
    ...mapMutations({
      MESSAGE_UPDATE
    }),
    ...mapActions({
      getTodos: 'getTodos',
      addTodos: 'addTodos'
    }),
    message_update() {
      this.MESSAGE_UPDATE();
    },
    clicked: function() {
      console.log("button clicked!")
      if (this.todo_input != '') {
        this.postTodo()
      } else {
        alert("何も入力されてません！")
      }
    },
    postTodo: function() {
      var todo = {
        title: this.todo_input,
        completed: false
      }
      this.$store.dispatch('addTodos', todo)
        .then(res => {
          this.todo_input = ''
          this.$store.dispatch('getTodos')
        })
        .then(this.$store.dispatch('getTodos'))
        .catch(error => {
          throw error
        })
        // .then(this.$store.dispatch('getTodos'))
    },
  },
  components: { todo_item }
}
</script>
