<template>
  <li>
    <span
      @click="complete(todo_item.id)"
      :class="{ completed: todo_item.completed }">
      {{ todo_item.title }}
    </span>
    <button @click="deleteTodo(todo_item.id)">Delete</button>
  </li>
</template>

<script>
import axios from 'axios'
import app from './todo_app.vue'
import { mapState, mapMutations, mapActions } from 'vuex';
export default {
    props: ['todo_item'],
    methods: {
      ...mapActions({
        getTodos: 'getTodos',
        deleteTodos: 'deleteTodos',
        updateTodos: 'updateTodos'
      }),
      complete: function(index) {
        var todo_update = {
          "id": this.todo_item.id,
          "todo_update": {
            "todo": {
              "completed": !this.todo_item.completed
            }
          }
        }
        this.$store.dispatch('updateTodos', todo_update)
          .then(res => {
            this.$store.dispatch('getTodos')
          })
          .then(this.$store.dispatch('getTodos'))
          .catch(error => {
            throw error
          })
          // .then(this.$store.dispatch('getTodos'))
      },
      deleteTodo: function(index) {
        console.log("delete clicked!" + index)
        if (window.confirm('削除していいですか？')) {
          this.$store.dispatch('deleteTodos', this.todo_item.id)
            .then(res => {
              this.$store.dispatch('getTodos')
            })
            .then(this.$store.dispatch('getTodos'))
            .catch(error => {
              throw error
            })
            // .then(this.$store.dispatch('getTodos'))
        }
      }
    }
}
</script>

<style scoped>
.completed {
  color: #ccc;
  text-decoration: line-through;
}
</style>
